@import 'https://fonts.googleapis.com/css?family=Bangers&display=swap';

.Navbar {
  height: 60px;
  background: #ffffff;
  box-shadow: 1px 1px 2px #aaa;
}

.Navbar .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.Navbar .container h1 {
  font-family: 'Bangers', sans-serif;
  letter-spacing: 3px;
}

.Navbar .container h1 span {
  display: block;
  font-size: 14px;
}

.Navbar a {
  color: #363636;
  text-decoration: none;
}

.Navbar .container .Go-back {
  font-size: 1.3rem;
  letter-spacing: -0.2px;
}

.Navbar .container .Go-back i {
  font-size: 1.2rem;
  margin-right: 8px;
}
