.Grid {
  margin: 14px auto;
  overflow: hidden;
}

.SearchImage {
  width: 400px;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 14px;
}

.SearchImage .img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 1px 2px 5px 2px rgba(75, 75, 75, 0.377);
  transition: all 0.3s;
}

.bottom-info {
  opacity: 0;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  background: linear-gradient(
    to bottom,
    #00000009 5%,
    #0f0f0fde 100%,
    #000000a4 100%
  );
}

.user-info {
  padding-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  width: 2.2rem;
}

.user-info a {
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.user-info a:hover {
  color: rgb(190, 190, 190);
}

.download-btn {
  padding-right: 8px;
  color: #ffffff;
}

.download-btn:hover {
  color: rgb(190, 190, 190);
}

.SearchImage:hover .bottom-info {
  opacity: 1;
}

.SearchImage:hover .img {
  transform: scale(1.05);
}

.Empty {
  font-family: 'Bangers', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
  padding-top: 20vh;
  font-size: 4rem;
  color: #babecc;
  text-shadow: 2px 3px 3px #575757;
}

@media screen and (max-width: 1280px) {
  .SearchImage {
    width: 320px;
  }
}

@media screen and (max-width: 1024px) {
  .SearchImage {
    width: 240px;
  }
}

@media screen and (max-width: 540px) {
  .SearchImage {
    width: 165px;
  }

  .bottom-info {
    display: none;
  }

  .Empty {
    padding: 30vh 1rem 0 1rem;
    font-size: 2rem;
    text-shadow: 1px 1px 2px #575757;
  }
}
